@{
    ViewData["Title"] = "Sign In";
}

<div class="text-center mb-4">
    <h1 class="display-4">Вход в систему</h1>
</div>
<form>
    <div class="row mb-3">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <label for="emailInput">Электронная почта:</label>
            <input type="email" class="form-control" id="emailInput" placeholder="name@example.com">
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row mb-5">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <label for="passwordInput">Пароль:</label>
            <input type="password" class="form-control" id="passwordInput" placeholder="password">
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row mb-1">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button class="btn btn-primary btn-lg w-100" type="submit">Войти</button>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <a class="btn btn-outline-primary btn-lg w-100" asp-area="" asp-controller="Users" asp-action="Registration">Зарегистрироваться</a>
        </div>
        <div class="col-md-4"></div>
    </div>
</form>
